<html>
    <head>
        {% load static %}
        <title> DeliveryFood </title>
        <link rel="stylesheet" 
        href="{% static 'estilo.css' %}">
    </head>
    <body>
        <header id="masthead" class="site-header">
            <a href="/"> <img class="logo" src="{% static 'images/logo.jpg' %}" alt="Mi Sitio Django"></a>
            <ul>
                <li class="info"><a href="{% url 'product_list' %}">Productos</a></li>
                <li class="info"><a href="{% url 'order_list' %}">Ordenes</a></li>
                <li class="info"><a href="{% url 'custumer_list' %}">Consumidores</a></li>
                <li class="info"><a href="{% url 'category_list' %}">Categorias</a></li>
                <li class="info"><a href="{% url 'delivery_list' %}">Repartidores</a></li>	
            </ul>
        </header>

{% block content %}

{% endblock content %}

</body>
</html>

