<html>
    <head>
        {% load static %}
        <title> DeliveryFood </title>
        <link rel="stylesheet" 
        href="{% static 'estilo.css' %}">
    </head>
    <body>

<header>

    <header id="masthead" class="site-header">
        <div class="header-main-wrapper">
            <div class="bottom-header-outer-wrapper">
                <div class="bottom-header-part">
                    <div class="asterthemes-wrapper">
                        <div class="bottom-header-part-wrapper">
                            <div class="bottom-header-menu-part">
                                <div class="navigation-part hello sticky-header">
                                    <nav id="site-navigation" class="main-navigation">
                                        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </button>
                                        <div class="main-navigation-links">
                                            <ul>
                                                <li><a href="/">Inicio</a></li>
                                                <li><a href="custumer/create">Acerca de</a></li>
                                                <li><a href="/contact/">Contacto</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="bottom-header-middle-part">
                                <div class="site-branding">
                                    <div class="site-logo">
                                        <a href="{% url 'home' %}" rel="home">
                                            <img src="{% static 'images/logo.jpg' %}" alt="Mi Sitio Django">
                                        </a>
                                    </div>
                                    <div class="site-identity">
                                        <h1 class="site-title">
                                            <a href="{% url 'home' %}" rel="home">Mi Fondita</a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</header>

{% block content %}

{% endblock content %}

</body>
</html>

