{% extends 'base.html' %}



{% block content %}
    <div class="home-container">
        <h1>Bienvenido a DeliveryFood</h1>
        <p>¡Haz tu pedido ahora y disfruta de la mejor comida a domicilio!</p>
        <div class="home-content">
            <h2>Nuestros Servicios</h2>
            <p>Ofrecemos un servicio rápido y eficiente de entrega de comida. Descubre nuestras opciones y pide tu comida favorita.</p>
            <ul>
                <li>Comida rápida</li>
                <li>Restaurantes locales</li>
                <li>Entregas rápidas y seguras</li>
            </ul>
        </div>
    </div>

    <script>
        console.log('ws//' + window.location.host + '/ws/somepath/ \n');
        
        const socket = new WebSocket('ws://' + window.location.host + '/ws/somepath/');
    
        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            for(let i = 0; i < data.length; i++) {
                console.log(data[i]);
            }
            console.log('ws://' + window.location.host + '/ws/somepath/ \n');
        };
    
        socket.send(JSON.parse({ nombre: 'Carrera 1', descripcion: 'Descripcion 1' }));
    </script>
{% endblock content %}
